#top{
	margin-left: 200px
}

table{
	width: 100%;
}
tfoot {
    display: table-header-group;
}

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}